<h3>カメラの本体やレンズの選定に困っている方向けのサイトです！</br>
CIPA が定める内容がいまいち理解できない方や、</br>
使用者側のリアルな声を集め、写真や感想が閲覧やコメントができ、</br>
自分でも投稿が可能になっております。
</h3>
<h2>さあ、みんなでレッツカメラライフ！</h2>
<div>
  <p>まだ登録をしていない方は
    <li class="nav-list-item">
      <%= link_to "→こちらから新規登録", new_user_registration_path, class: 'nav-link text-red' %>
    </li>
  </p>
</div>
